# Exercises

Identify the data type of the following values:

In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(0)

int

In [6]:
type('true')

str

In [8]:
type(True)

bool

In [9]:
type([{}])

list

In [10]:
type({'a': []})

dict

### What data type would best represent:

A term or phrase typed into a search box?
- A string
If a user is logged in?
- boolean
A discount amount to apply to a user's shopping cart?
- float
Whether or not a coupon code is valid?
- boolean
An email address typed into a registration form?
- String
The price of a product?
- Int or Float
A Matrix?
- dictionary
The email addresses collected from a registration form?
- List
Information about applicants to Codeup's data science program?
- Dictionary

## For each of the following code blocks, read the expression and predict what the result of evaluating it would be, then execute the expression in your Python REPL.

In [11]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [12]:
6 % 4

2

In [13]:
type(6 % 4)

int

In [14]:
type(type(6 % 4))

type

In [16]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [17]:
0 < 0

False

In [18]:
'False' == False

False

In [19]:
True == 'True'

False

In [20]:
5 >= -5

True

In [21]:
True or "42"

True

In [22]:
6 % 5

1

In [23]:
5 < 4 and 1 == 1

False

In [24]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [26]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [27]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [28]:
6 % 3 == 0

True

In [29]:
5 % 2 != 0

True

In [30]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [31]:
[1] + [2]

[1, 2]

In [32]:
[1] * 2

[1, 1]

In [33]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [34]:
[] + [] == []

True

In [35]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

## Create a Python script file named data_types_and_variables.py. Inside it, write some Python code, that is, variables and operators, to describe the following scenarios. Do not worry about the real operations to get the values, the goal of these exercises is to understand how real world conditions can be represented with code.

### You have rented some movies for your kids: The little mermaid (for 3 days), Brother Bear (for 5 days, they love it), and Hercules (1 day, you don't know yet if they're going to like it). If price for a movie per day is 3 dollars, how much will you have to pay?

In [37]:
the_little_mermaid = 3
brother_bear = 5
hercules = 1
rental_cost_per_day = 3

total_cost = (the_little_mermaid * rental_cost_per_day + brother_bear * rental_cost_per_day + hercules * rental_cost_per_day)

In [38]:
total_cost

27

### Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook, they pay you a different rate per hour. Google pays 400 dollars per hour, Amazon 380, and Facebook 350. How much will you receive in payment for this week? You worked 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

In [39]:
google = 400
amazon = 380
facebook = 350
total_payment = (google * 6 + amazon * 4 + facebook * 10)

In [40]:
total_payment

7420

### A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [45]:
class_is_open = True
class_is_full = False
schedule_is_open = True
schedule_is_full = False
enrollment = class_is_open and schedule_is_open
print(enrollment)

True

### A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [52]:
offer_active = True
offer_expired = False
premium_member = True
regular_member = False
multiple_items_purchased = True
one_item_purchased = False

product_offer = (offer_active and multiple_items_purchased) or (offer_active and premium_member)

### Create a variable that holds a boolean value for each of the following conditions:

the password must be at least 5 characters
the username must be no more than 20 characters
the password must not be the same as the username
bonus neither the username or password can start or end with whitespace


username = 'codeup'
password = 'notastrongpassword'

username = 'codeup'
password = 'notastrongpassword'

password_length >= 5 
password_length <= 20
password != username

def password_length: len(str) >= 5 and len(str) <=20

# BONUS

fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

# Example for loop solution to add 1 to each number in the list
numbers_plus_one = []
for number in numbers:
    numbers_plus_one.append(number + 1)

# Example of using a list comprehension to create a list of the numbers plus one.
numbers_plus_one = [number + 1 for number in numbers]

# Example code that creates a list of all of the list of strings in fruits and uppercases every string
output = []
for fruit in fruits:
    output.append(fruit.upper())

In [57]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

### Exercise 1 - rewrite the above example code using list comprehension syntax. Make a variable named uppercased_fruits to hold the output of the list comprehension. Output should be ['MANGO', 'KIWI', etc...]

In [61]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

In [65]:
uppercased_fruits = [fruit.upper() for fruit in fruits]
uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

### Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

In [67]:
capitalized_fruits = [fruit.capitalize() for fruit in fruits]
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

### Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels. Hint: You'll need a way to check if something is a vowel.

In [69]:
fruits_with_more_than_two_vowels = [fruit for fruit in fruits if (
            fruit.count("a") + 
            fruit.count("e") + 
            fruit.count("i") + 
            fruit.count("o") + 
            fruit.count("u")) > 2]         
fruits_with_more_than_two_vowels

['guava', 'pineapple', 'mandarin orange']

In [ ]:
Exercise 4 - make a variable named fruits_with_only_two_vowels. The result should be ['mango', 'kiwi', 'strawberry']